---
import DocsLayout from "@/layouts/docs-layout.astro";
import { Image } from "astro:assets";
import {
  getCollection,
  type CollectionEntry,
  getEntryBySlug,
} from "astro:content";

import Card from "@/components/docs/homepage-cat-cards.astro";
import MobileTableOfContents from "@/components/community-pages/mobile-table-of-contents";
import generateToc from "@/lib/generateToc";
import MobileNav from "@/components/docs/mobile-sidebar";
import { generateDocsNav } from "@/lib/docs/generate-nav/docs-nav";
import Search from "@/components/docs/search-dialog.tsx";
import NextPrevNav from "@/components/docs/next-prev-nav.astro";
import { findPrevAndNextPages } from "@/lib/docs/findPrevAndNextPages";
import Index from "../index.astro";
import { proseClasses } from "@/lib/prose-classes";

export async function getStaticPaths() {
  const docs = await getCollection("Docs");
  const docsNav = generateDocsNav(docs);
  // src/content/Docs/docs/Index.md

  return docsNav.map((entry: any) => ({
    params: {
      slug: entry.link.split("/")?.[2],
    },
    props: {
      docs: docsNav,
      doc: docs.find((doc: any) => doc.slug === entry.link.split("/")?.[2]),
    },
  }));
}

const docsHomePagePage = await getEntryBySlug("Docs_Homepage", "index");

const { pageTitle, pageLogo, description, essentials, deployments, providers } =
  docsHomePagePage.data;

const pathname = new URL(Astro.request.url).pathname;

const catName = pathname
  .split("/")
  [pathname.split("/").length - 2].split("-")
  .map((word: any) => word.charAt(0).toUpperCase() + word.slice(1))
  .join(" ");

//show current props

type Docs = CollectionEntry<"Docs">;

const { docs, doc } = Astro.props;

const { Content } = await doc.render();
console.log("docs", doc);
---

<DocsLayout title="Docs">
  <div
    class="sticky top-0 z-10 -mt-4 mb-10 h-[130px] bg-background pt-4 md:hidden"
  >
    <div>
      <Search client:load currentPath={pathname} />
    </div>

    <div class="my-4 border-b"></div>

    <div class="">
      <div class="flex items-center gap-x-3">
        <MobileNav
          client:load
          catName={"Akash Documentation"}
          docsNav={docs}
          pathname={pathname}
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start">
    <div
      class="flex h-[39px] w-[39px] items-center justify-center rounded-lg border bg-background2 md:h-[78px] md:w-[78px]"
    >
      <Image
        src={pageLogo}
        alt={`HeroImage`}
        format="svg"
        class=""
        loading="eager"
      />
    </div>
    <h1 class="mt-6 text-[28px] font-bold md:mt-10 md:text-3lg">
      {doc.data.title}
    </h1>
    <p class="mt-6 text-base md:text-lg">{doc.data.description}</p>
  </div>

  <article class={proseClasses}>
    <Content />
  </article>

  <NextPrevNav nav={findPrevAndNextPages(docs, pathname)} />
</DocsLayout>
